.header{
    display: inline-block;
    vertical-align: middle;
    font-size: 45px;
}

header{
    background-color: white;
}

body{
    background-color: #f6f8f9 ;
}

main{
    max-width: 70%;
    background-color: white;
    margin: 0 auto;
    padding-bottom: 10px;
}

header{
    margin-left: 20px;
}

nav{
    margin-top: 70px;
    border-radius: 10px 0px 0px 10px;
}
.button{
    height: 45px;
    border-radius: 10px;
    font-size: 20px;
    margin: 25px auto 10px auto;
    
}
.first-button{
    background-color: #47adf1;
    color: white;
    width: 120px;
    border: none;
    margin-left: 90px;
}

.second-button{
    border-color:#ced3d7;
    background-color: white;
    color: #ced3d7;
    width: 150px;
    border-width: 2px;
    border-style: solid;
    margin-left: 4px;
}

hr{
    height:3px;
    background-color:#f6f8f9 ;
    border: none;
}

section{
    margin-left: 90px;
    margin-bottom: 65px;
}

h2, h1{
    font-family: 'Sofia Sans', sans-serif;
    font-weight: bolder;
}

small{
    font-size: 6px;
    vertical-align: middle;
}

dl{
    list-style-type: none;
}

div{
    display: inline-block;
}

.check{
    height: 24px;
    width: 24px;
    border: 2px solid #9dd9cc;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    color: #61bfa7;
    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
    margin-right: 7px;
}

.cross{
    height: 24px;
    width: 24px;
    border: 2px solid #ee6b62;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    color: #ea4237;
    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
    margin-right: 7px;
}

.tag{
    border-radius: 18px;
    padding: 7px 15px;
    color: white;
    font-size: 10px;
    vertical-align: middle;
}

.editorial{
 background-color: #45abea;   
}

.goals{
    background-color: #9e75e4 ;
}

h3{
    margin: 0px;
}
.recruiting{
    background-color: #64c0a9 ;
}

.mobile{
    background-color: #64c0a9;
}

.website{
  background-color: #d762a0;  
}

.sales{
    background-color: #b0c926;
}

li{
    margin: 20px auto;
}

