.header{
    display: inline-block;
    vertical-align: middle;
    font-size: 45px;
}

header{
    background-color: white;
}

body{
    background-color: #f6f8f9 ;
}

main{
    max-width: 70%;
    background-color: white;
    margin: 0 auto;
}

header{
    margin-left: 20px;
}

nav{
    margin-top: 70px;
    border-radius: 10px 0px 0px 10px;
}
.button{
    height: 45px;
    border-radius: 10px;
    font-size: 20px;
    margin: 25px auto 10px auto;
    
}
.first-button{
    background-color: #47adf1;
    color: white;
    width: 120px;
    border: none;
    margin-left: 90px;
}

.second-button{
    border-color:#ced3d7;
    background-color: white;
    color: #ced3d7;
    width: 150px;
    border-width: 2px;
    border-style: solid;
    margin-left: 4px;
}

hr{
    height:3px;
    background-color:#f6f8f9 ;
    border: none;
}

section{
    margin-left: 90px;
}

h2, h1{
    font-family: 'Sofia Sans', sans-serif;
    font-weight: bolder;
}

small{
    font-size: 6px;
    vertical-align: middle;
}